In [2]:
import csv
import pandas as pd

# 여수의 2018년 기준 버스정류장의 명칭과 위치한 지역명이 포함된 데이터를 공공데이터포탈에서 가져왔습니다. 
# 작업환경이 MS WINDOWS이기 떄문에 인코딩을 cp494로 진행했습니다.
df = pd.read_csv('전라남도_여수시_버스정류장정보_20180828..csv', encoding = 'cp949')
df

        연번    정류장명칭  지역명      정류장번호  유형 CCTV 단말기 액정 의자 광고판 버스베이
0        1     광주은행  충무동  325000848  유개    -   O  -  O   -    -
1        2     대한생명  충무동  325000843  유개    -   O  -  O   -    -
2        3      동광탕  한려동  325000916  유개    -   O  -  O   -    -
3        4     진남시장  쌍봉동  325001189  유개    -   O  -  O   -    -
4        5  시외버스터미널  광림동  325001203  유개    -   O  -  O   O    -
...    ...      ...  ...        ...  ..  ...  .. .. ..  ..  ...
1290  1291       산곡  율촌면       바람막이   -    -   -  O  O   O  NaN
1291  1292   율림치등산로  돌산읍       표지없음   -    -   -  -  -   -  NaN
1292  1293   율림치등산로  돌산읍       표지없음   -    -   -  -  -   -  NaN
1293  1294     하얀정원  돌산읍         무개   -    -   -  -  -   -  NaN
1294  1295       마상  화양면       표지없음   -    -   -  -  -   -  NaN

[1295 rows x 11 columns]

In [3]:
# 데이터에서 필요하지 않은 부분인 연번, 정류장번호, 유형, CCTV, 단말기, 액정, 의자, 광고판, 버스베이를 제거한 새 파일을 만드는 코드입니다.
# 원본 데이터를 가공하여 만든 파일은 다음과 같습니다.

fileMatrix = []
newMatrix = [] 

with open('전라남도_여수시_버스정류장정보_20180828..csv', 'r') as file:
    
    for lineContent in file:
        fileMatrix.append(lineContent.strip('\n').split(','))
    for a in fileMatrix:
        newMatrix.append(a[1:3])

lenNewMatrix = len(newMatrix)

with open('전라남도_여수시_버스정류장정보_20180828_fixed.csv', 'w') as newfile:
    myWriter = csv.writer(newfile)
    for i in range(lenNewMatrix):
        myWriter.writerow(newMatrix[i][:])
        
df = pd.read_csv('전라남도_여수시_버스정류장정보_20180828_fixed.csv', encoding = 'cp949')
df

        정류장명칭  지역명
0        광주은행  충무동
1        대한생명  충무동
2         동광탕  한려동
3        진남시장  쌍봉동
4     시외버스터미널  광림동
...       ...  ...
1290       산곡  율촌면
1291   율림치등산로  돌산읍
1292   율림치등산로  돌산읍
1293     하얀정원  돌산읍
1294       마상  화양면

[1295 rows x 2 columns]

In [5]:
# 지역별로 버스정류장을 분류했습니다. 
# 정류장명칭이 같은 경우 숫자를 붙여 구분지었습니다. 

fileMatrix = []
locationSet = set()

with open('전라남도_여수시_버스정류장정보_20180828_fixed.csv', 'r') as file:
    for lineContent in file:
        fileMatrix.append(lineContent.strip('\n').split(','))

# 위 단계까지 진행했을 때 정류장명칭과 지역명이 들어가있는 list in list 형태에서 사이사이 빈 리스트가 생성되어 텅 빈 리스트를 제거하는 과정입니다. 
# 또한 fileMatrix의 0번째 element인 ['정류장명칭', '지역명']은 필요없으니 제거한다.

while ([''] in fileMatrix):
    fileMatrix.remove([''])
fileMatrix.remove(['정류장명칭', '지역명'])

# 정류장이 위치해있는 지역명을 모두 한 집합에 넣어 확인하고 개수 또한 확인한다. 

for a in fileMatrix:
    b = a[1]
    locationSet.add(b)

print(locationSet)
print(len(locationSet))

{'동문동', '한려동', '주삼동', '화장동', '대교동', '율촌면', '광림동', '연등동', '시전동', '충무동', '화양면', '문수동', '돌산읍', '봉계동', '쌍봉동', '국동', '만덕동', '둔덕동', '여천동', '서강동', '월호동', '소라면', '삼일동', '신기동', '선원동', '중앙동', '화정면', '소호동', '미평동', '여서동'}
30

In [9]:
# 지역별로 몇개의 버스정류장이 있는지 분류하는 작업입니다. 

locationDiction = {}
print(len(fileMatrix))
for a in fileMatrix: 
    b = a[1]
    if (b not in locationDiction):
        locationDiction[b] = 1
    else:
        locationDiction[b] = locationDiction[b] + 1

print(locationDiction)

1295
{'충무동': 7, '한려동': 18, '쌍봉동': 61, '광림동': 22, '서강동': 6, '월호동': 15, '동문동': 10, '신기동': 18, '중앙동': 10, '만덕동': 55, '둔덕동': 20, '미평동': 25, '대교동': 13, '국동': 26, '선원동': 30, '화양면': 215, '여서동': 20, '문수동': 17, '율촌면': 117, '돌산읍': 268, '소라면': 149, '봉계동': 11, '여천동': 9, '시전동': 15, '연등동': 2, '삼일동': 85, '화장동': 20, '주삼동': 18, '화정면': 12, '소호동': 1}